[submodule "Nextflow_Workflow_Template"]
	path = Nextflow_Workflow_Template
	url = https://github.com/Wang-Bioinformatics-Lab/Nextflow_Workflow_Template.git
[submodule "Add_Batch_Annotated_Validator_Workflow"]
	path = Add_Batch_Annotated_Validator_Workflow
	url = https://github.com/Wang-Bioinformatics-Lab/Add_Batch_Annotated_Validator_Workflow.git
[submodule "Structural_Similarity_Workflow"]
	path = Structural_Similarity_Workflow
	url = https://github.com/mwang87/Structural_Similarity_Workflow.git
[submodule "GNPS_PureNetworking_Workflow"]
	path = GNPS_PureNetworking_Workflow
	url = https://github.com/mwang87/GNPS_PureNetworking_Workflow.git
