[submodule "Nextflow_Workflow_Template"]
	path = Nextflow_Workflow_Template
	url = https://github.com/Wang-Bioinformatics-Lab/Nextflow_Workflow_Template.git
[submodule "Structural_Similarity_Workflow"]
	path = Structural_Similarity_Workflow
	url = https://github.com/mwang87/Structural_Similarity_Workflow.git
[submodule "GNPS_PureNetworking_Workflow"]
	path = GNPS_PureNetworking_Workflow
	url = https://github.com/mwang87/GNPS_PureNetworking_Workflow.git
[submodule "GNPSLibrary_to_MGF_Workflow"]
	path = GNPSLibrary_to_MGF_Workflow
	url = https://github.com/mwang87/GNPSLibrary_to_MGF_Workflow.git
[submodule "MassQueryLanguage"]
	path = MassQueryLanguage
	url = https://github.com/mwang87/MassQueryLanguage.git
[submodule "Chemprop_Workflow"]
	path = Chemprop_Workflow
	url = https://github.com/Wang-Bioinformatics-Lab/Chemprop_Workflow.git
[submodule "SpectrumMarkdown_Workflow"]
	path = SpectrumMarkdown_Workflow
	url = https://github.com/mwang87/SpectrumMarkdown_Workflow
[submodule "nextflow_NP-Classifier"]
	path = nextflow_NP-Classifier
	url = https://github.com/albertogilf/nextflow_NP-Classifier.git
[submodule "nextflow_msms-choser"]
	path = nextflow_msms-choser
	url = https://github.com/albertogilf/nextflow_msms-choser.git
[submodule "3DMolMS_Workflow"]
	path = 3DMolMS_Workflow
	url = https://github.com/Wang-Bioinformatics-Lab/3DMolMS_Workflow.git
[submodule "MolNetEnhancer_Nextflow_Workflow"]
	path = MolNetEnhancer_Nextflow_Workflow
	url = https://github.com/Wang-Bioinformatics-Lab/MolNetEnhancer_Nextflow_Workflow.git
[submodule "CMMC_Deposition_Workflow"]
	path = CMMC_Deposition_Workflow
	url = https://github.com/Wang-Bioinformatics-Lab/CMMC_Deposition_Workflow
